<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XI Timetable</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
</head>

<body>
    <div class="container">
        <div class="dropdown">
            <button class="dropbtn">
                <h2>{{day}}</h2>
            </button>
            <div class="dropdown-content">
                {% for d in ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'] if not d == day%}
                    {% set df = d[:3].upper() %}
                    <a href="{{ url_for('index', day=df) }}">{{ d }}</a>
                {% endfor %}
            </div>
        </div>
        <table>
            <thead>
                <td class="timing">Times</td>
                <td>Lesson</td>
                <td>Location</td>
            </thead>
            <tbody>
                {% for time, lesson in zip(times, lessons) %}
                <tr>
                    <td class="timing">{{time}}</td>
                    <td>{{ lesson.name }}</td>
                    <td>{{ lesson.location }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div>
            <a href="{{url_for('set_subjects')}}">
                <p>Change Subjects</p>
            </a>
        </div>
    </div>
</body>

</html>